
<div class='form-container text-center'>
	<h2>Submit to reddit</h2>

	<%= form_for @post do |f| %>
		<% if @post.errors.any? %>
			<%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
			<ul>
				<% @post.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		<% end %>

		<div class='form-group'>
			<%= f.text_field :title, class: 'form-control', placeholder: 'Title' %>
		</div>

		<% if @type == "text" %>
			<div class='form-group'>
				<%= f.text_field :text, class: 'form-control', placeholder: "Extra information (optional)" %>
			</div>
		<% elsif @type == "link" %>
			<div class='form-group input-group'>	
				<span class="input-group-addon">http://</span>
				<%= f.url_field :url, class: 'form-control', placeholder: 'www.example.com' %>
			</div>
		<% end %>

		<div class='form-group'>
			<%= f.submit "Submit", class: 'btn btn-default' %>
		</div>
	</div>
<% end %>