<li class='list-group-item clearfix'>
	<div class='vote-section pull-left'>
		<%= render partial: 'votes/votes', locals: {post: post} %>
	</div>

	<div class='content-section'>
		<div>
			<h4 class='list-group-item-heading'>
				<% if post.url.present? %>
					<a href='<%= post.url %>'><%= post.title %></a> <span class='domain-text'><small>(<%= post.get_domain %>)</small></span>
					<% type = "url" %>
				<% else %>
					<%= link_to post.title, post_path(post) %>
					<% type = 'text' %>
				<% end %>
			</h4>
		</div>

		<div>
			<p class="list-group-item-text">submitted <%= time_ago_in_words(post.created_at) %> ago by
			<span><%= User.find_by(id: post.user_id).username unless post.user_id == nil %></span>
			</p>
		</div>

		<div>
			<p class="list-group-item-text">
				<%= link_to pluralize(post.comments.count, "comment"), post_path(post) %>
				<% if post.was_created_by?(current_user) %>
					<%= link_to 'edit', edit_post_path(post, type: type) %>
					<%= link_to 'delete', post_path(post), method: :delete %>
				<% end %>
			</p>
		</div>
	</div>

</li>