<div class='post-container'>

	<%= render partial: 'votes/votes', locals: {post: post} %>

	<div>
		<% if post.url.present? %>
			<a href='<%= post.url %>'><%= post.title %></a> <span class='domain-text'>(domain)</span>
			<% type = "url" %>
		<% else %>
			<%= link_to post.title, post_path(post) %>
			<% type = 'text' %>
		<% end %>
	</div>

	<div>
	submitted <%= time_ago_in_words(post.created_at) %> ago by <%= User.find(post.user_id).email %>
	</div>

	<div>
		<% if post.was_created_by?(current_user) %>
			<%= link_to 'Edit post', edit_post_path(post, type: type) %>
			<%= link_to 'Delete post', post_path(post), method: :delete %>
		<% end %>
	</div>

</div>