<% if user_signed_in? %>
	<div class='votes-container'>
		<%= link_to post_votes_path(post, direction: 'up'), class: 'upvote-link vote-link text-center' do %>
			<span class='glyphicon glyphicon-chevron-up' %>
		<% end %>
		
		<div class='vote-count badge center-block'><%= post.count_netvotes %></div>
		
		<%= link_to post_votes_path(post, direction: 'down'), class: 'downvote-link vote-link text-center' do %>
			<span class='glyphicon glyphicon-chevron-down'%>
		<% end %>
	</div>
<% else %>
	<div class='votes-container'>
		<%= link_to new_user_session_path, class: 'upvote-link text-center' do %>
			<span class='glyphicon glyphicon-chevron-up' %>
		<% end %>

		<div class='vote-count badge center-block'><%= post.count_netvotes %></div>

		<%= link_to new_user_session_path, class: 'downvote-link text-center' do %>
			<span class='glyphicon glyphicon-chevron-down' %>
		<% end %>
	</div>
<% end %>